body {
    margin:  auto;
    min-width: 450px;
    max-width: 1000px;
}


.page-header {
    margin-top: 60px;
}


/* HEADING ELEMENT STYLES */

header {
    
    align-items: center;
}

header div:nth-of-type(2) {
    text-align: center;
}

header h1 {
    margin: 0;
    margin-left: 30px;
}

h4 {
    margin: 10px 0 0 0;
}

/* CONTAINER STYLES */

.container {
    max-width: 100%;
    margin: 0;
}

.container section {
    margin: 0 10px;
    padding: 10px;
}

.container section.row {
    margin-top: 50px;
}

/* MODULE STYLES */

.module {
    border-radius: 15px;
    padding: 10px 15PX;
    margin-bottom: 20px;
}

h2 {
    margin: 5px 0 10px 0;
}

.module h3,
.module p{
    margin: 0;
}


.table-module{
    border-radius: 15px;
    padding: 3px;
}

.table-module h4 {
    width: 80%;
    border-radius: 5px;
}


/* TABLE LAYOUT STYLES */

table,
thead
{
    border: 1px solid #807f83;
    border-collapse: collapse;
}

tfoot {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

td > * {
    margin: 0;
}

thead h4 {

}

.border-top {
    border-top: 1px solid #807f83;
}

tfoot td {
    padding: 4px;
    margin: 20px;
    border: 1px solid #000;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
}

