@charset "UTF-8";

@font-face {font-family: 'Sonus-Light';src: url('webfonts/3AA225_6_0.eot');src: url('webfonts/3AA225_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3AA225_6_0.woff2') format('woff2'),url('webfonts/3AA225_6_0.woff') format('woff'),url('webfonts/3AA225_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BebasKai';src: url('webfonts/3AA225_8_0.eot');src: url('webfonts/3AA225_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3AA225_8_0.woff2') format('woff2'),url('webfonts/3AA225_8_0.woff') format('woff'),url('webfonts/3AA225_8_0.ttf') format('truetype');}


@font-face {font-family: 'Aerohop';src: url('webfonts/3AA225_4_0.eot');src: url('webfonts/3AA225_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3AA225_4_0.woff2') format('woff2'),url('webfonts/3AA225_4_0.woff') format('woff'),url('webfonts/3AA225_4_0.ttf') format('truetype');}

 
/* 
TO DO:
1. add strong to index.htmk
2. add font fallbacks
*/

html {
    font-size: 16px;
}

h1 {
    font-family: 'BebasKai';
    font-weight: 400;
    font-size: 3em;
    line-height: .9;
}

h2 {
    font-family: 'BebasKai';
    font-weight: 400;
    font-size: 2.5em;
}

h3 {
    font-family: 'Aerohop';
    font-size: .8em;
    letter-spacing: 1px;
}



table h4 {
    font-size: .9em;
}

td {
    font-family: 'Aerohop';
    font-weight: 900;
}


tbody tr:last-of-type td,
table h3  {
font-size: 1.5em;    
}

.small-text {
    font-size: .7em;
    line-height: 1.2;
}


h4 {
    font-family: 'Aerohop';
    font-size: .7em;
    letter-spacing: 1px;

}

p {
    font-family: 'Sonus-Light';
    font-size: 1em;
}

footer p {
    font-size: .4em;
}

strong {
    font-family: 'Aerohop';
    /* font-size: .8em; */
}

ul {
list-style: none;
}


